section {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    max-width: max-content;
    max-height: 90%;
    overflow-y: scroll;
}